body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
section {
    margin-bottom: 100px;
}
.flexible-container {
    display: flex;
}
.half-width {
    width: 50%;
    padding: 6%;
}
.half-width img {
    width: 100%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(to top right, orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 7px 40px gray;
    padding: 40px 15px;
    height: 80%;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, white);
    border-image-slice: 1;
}
#baby-stack {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, white);
    border-image-slice: 1;
}
